 <!--Button to add a comment in a post-->
 <div class="row justify-content-start p-2">
    <div class="col-6 col-md-3">
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-secondary">Add Comment</button>
        </div>
    </div>
</div>