<!--Form to comment a post-->
<section class="container">
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-10 bg-secondary text-white rounded-top p-3">
            <h3 class="">Comment</h3>
        </div>
        <div class="col-12 col-lg-10 p-3 rounded-bottom border border-secundary shadow-sm">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7">
                    <form action="/api/comments/addComment/{{getPost.dataValues.id}}" method="POST">
                        <div class="mb-3">
                            <textarea class="form-control border border-dark" type="text" name="comment_content"
                                id="postContent"></textarea>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" class="btn btn-outline-secondary" value="Leave Comment" id="btnCreatePost">
                        </div>
                        <div class="mb-3 d-grid">
                            <span class="text-danger">{{error}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
