
{{#if loggedIn}}
<!-- Button to add a new Post -->
<div class="row justify-content-center mt-5">
    <div class="col-6">
        <div class="d-flex justify-content-center">
            <a href="/api/posts/new-post" class="btn btn-lg btn-warning fs-2 p-2" type="button">+ New post</a>
        </div>
    </div>
</div>
    <!--Render all post from the user session-->
    {{#each userPosts as |post|}}
        <!--Card to show the created posts in dashboard-->
        <section class="row m-3" id="posts"></section>
            <article class="col">
                <div class="row card border rounded border-2 p-3">
                    <h5 class=" col-12 card-header fs-3 fw-bold text-dark">{{post.post_title}}</h5>
                    <div class="col-12 card-body">
                        <p class="card-text fs-4">{{post.post_content}}</p>
                    </div>
                        <!--Button to update post-->
                    <div class="row justify-content-start p-2">
                        <div class="col-6 col-md-3">
                            <div class="d-flex justify-content-center">
                                <a href="/api/posts/update-post/{{post.id}}" class="btn btn-outline-secondary">Edit Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end p-2">
                        <div class="col-6 col-md-3">
                            <div class="d-flex justify-content-center">
                                Post id: &nbsp; <span class="userPostId">{{post.id}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    {{/each}}
{{/if}}

