
            <!--Homepage-->
            <section class="row m-5" id="posts"></section>
                <article class="col">
                    <div class="accordion" id="syllabus">
                        <div class="accordion-item">
                            <h3 class="accordion-header  postTitle" id="">
                                <button 
                                    class="accordion-button fs-3 fw-bold text-dark" 
                                    type="button" 
                                    data-bs-toggle="collapse"
                                    data-bs-target=".postElement" 
                                    aria-expanded="true" 
                                    aria-controls="postElement">
                                    Post Title{{post_title}}
                                </button>
                            </h3>
                            <div id="" 
                                class="postElement accordion-collapse collapse show" 
                                aria-labelledby="postTitle"
                                data-bs-parent="#syllabus">
                                <!--POST BODY-->
                                <article class="accordion-body">
                                    <p class="fs-4">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima earum ducimus laboriosam
                                        accusamus asperiores porro repellat corporis itaque totam facere.
                                        {{post_content}}
                                    </p>
                                    <!--Author-->
                                    <blockquote class="author blockquote fs-5 text-muted fst-italic">Posted By Chanchito On
                                        <span>Date</span>
                                    </blockquote>
                                </article>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
   