<!--FORM TO LOGIN -->
      <section class="container">
                <div class="row justify-content-center ">
                    <div class="col-12 col-lg-10 bg-success text-white rounded-top p-3">
                        <h3 class="">Login</h3>
                    </div>
                    <div class="col-12 col-lg-10 p-3 rounded-bottom border border-secundary shadow-sm">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">
                                <form action="">
                                    <div class="mb-3">
                                        <label class="form-label fs-5" for="username">Username</label>
                                        <input class="form-control border  border-dark" type="text" id="LoginUsername">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label class="form-label fs-5" for="Password">Password</label>
                                        <input class="form-control border  border-dark" type="password" id="LoginPassword">
                                    </div>

                                    <div class="mb-3 d-grid">
                                       <button class="btn btn-outline-success" >Login</button>
                                    </div>

                                    <div class="mb3 d-grid">
                                        <a class="link link-danger fs-5 text-decoration-none" href="/api/user/singup">Sing Up!</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>        