
<!--FORM TO SING UP-->
    <section class="container">
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-10 bg-danger text-white rounded-top p-3">
                <h3 class="">Resgister</h3>
            </div>
            <div class="col-12 col-lg-10 p-3 rounded-bottom border border-secundary shadow-sm">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7">
                        <form action="">
                            <div class="mb-3">
                                <label class="form-label fs-5" for="username">Username</label>
                                <input class="form-control border  border-dark" type="text" id="SingupUsername">
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label fs-5" for="Password">Password</label>
                                <input class="form-control border  border-dark" type="password" id="SingupPassword">
                            </div>

                            <div class="mb-3 d-grid">
                                <button class="btn btn-outline-danger">Sing Up!</button>
                            </div>

                            <div class="mb3 d-grid">
                                <a class="link link-success fs-5 text-decoration-none" href="/api/user/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>