<!--From to update a post-->
<section class="container">
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-10 bg-dark text-white rounded-top p-3">
            <h3 class="">Update Post</h3>
        </div>
        <div class="col-12 col-lg-10 p-3 rounded-bottom border border-secundary shadow-sm">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7">
                    <form method="POST" action="/api/posts/updated-post/{{getPost.dataValues.id}}" >
                        <div class="mb-3">
                            <label class="form-label fs-5" for="username">Title</label>
                            <input class="form-control border  border-dark" value="{{getPost.dataValues.post_title}}" placeholder="" type="text" name="post_title">
                        </div>

                        <div class="mb-3">
                            <label class="form-label fs-5" for="text">Content</label>
                            <textarea class="form-control border border-dark" placeholder="" type="text" name="post_content"
                                id="postContent">{{getPost.dataValues.post_content}}</textarea>
                        </div>

                        <div class="mb-3 d-grid">
                            <input type="submit" class="btn btn-outline-dark" value="Update" id="btnCreatePost">
                        </div>
                        <!--Button to cancel update-->
                        <div class="mb-3 d-grid">
                            <a href="/dashboard" type="button" class="btn btn-outline-dark" id="cancelUpdate">Cancel</a>
                        </div>
                    </form>
                    <form class="mt-5" method="POST" action="/api/posts/delete/{{getPost.dataValues.id}}">
                        <!--Button to delete a post-->
                        <div class="mb-3 d-grid">
                            <input value="Delete Post" type="submit" class="btn btn-outline-danger" id="deletePost">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>